@import 'src/styles/_variables.scss';

.contactContainer {
    max-width: 600px;
    margin: 0 auto;
    background-color: $color-background;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fieldGroup {
    display: flex;
    flex-direction: column;

    label {
        padding-left: 1px;
        padding-bottom: 2px;
        font-weight: bold;
        color: $color-text;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
    border: 1px solid $color-secondary;
    border-radius: 5px;
    font-size: 16px;
    color: $color-text;

    &:focus {
        outline: none;
        border-color: $color-primary;
        box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
    }
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="submit"] {
    background-color: $color-primary;
    color: $color-background;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($color-primary, 15%);
    }
}

.dateFieldsContainer {
    display: flex;
    align-items: flex-start;
}

.datesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.contactFieldsContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;

    div {
        width: min-content;
    }

    .orText {
        display: flex;
        align-items: center;
        color: $color-text;
    }
}

.dateInputContainer {
    position: relative;

    input[type="date"] {
        padding: 5px;
        width: calc(100% - 30px);
    }

    .removeDateButton {
        position: absolute;
        user-select: none;
        top: -10px;
        right: 10px;
        width: 20px;
        height: 20px;
        background-color: $color-danger;
        color: $color-background;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover {
        .removeDateButton {
            opacity: 1;
        }
    }
}

.addButtonContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-left: 10px;
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: $color-primary;
    color: $color-background;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: darken($color-primary, 15%);
    }
}

.errorText {
    color: $color-danger;
    font-size: 12px;
}
