@import 'src/styles/_variables.scss';

.headerContainer {
    background-color: $color-background;
    padding: 10px 0;
    position: sticky;
    top: 0;
    transition: top 0.3s
}

.headerHidden {
    top: -100%;
}

.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.link {
    color: $color-text;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $color-secondary;
        text-decoration: underline;
    }
}
